body {
    font-style: oblique;
    background-image: url("../img/parchment.jpeg");
}

h1{
    text-align: center
}

.fancy-header {
    color: darkblue;
    text-decoration: underline;
}
 h2 {
     color: darkgreen;
     text-decoration: underline;

}


table, th, td
{border: 1px solid black;
}




ul {
    list-style-type: square;
 }
a {
      color: darkslateblue;
      text-decoration: none;
      border-bottom: 1px #ff4b82;

  }
a:hover{
    background-color:antiquewhite; s
}


